@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-track {
    background: #f2ffef;        /* warna zona pelacak */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #11800f;    /* warna scrollbar */
    border-radius: 20px;       /* bulatnya scrollbar */
    border: none;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: #ffffff;
    color: #F8FAFC;
}

h1 {
    margin: 0;
    margin-top: 20px;
    font-size: 50px;
    color: #031a02;
}

h2, p {
    margin: 0;
    font-size: 20px;
    color: #031a02;
    text-align: center;
}


img {
    object-fit: contain;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.image__button {
    position: relative;
    display: inline-block;
}

.image__button__click {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #ffffff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    margin-bottom: 30px;
}

.main-list {
    display: flex;
    align-items: center;
    gap: 20px;
}


.main__title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 70px;
}

.sub__title {
    text-align: center;
    color: black;
    margin-bottom: 70px;
}

.info {
    font-size: 20px;
    text-align: justify;
}

.info__title {
    color: #F8FAFC;
    font-size: 25px;
    text-align: center;
    line-height: normal;
}

.info__src {
    color: #F8FAFC
}

.cards-list {
    display: flex;
    padding: 0 5%;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    column-gap: 50px;
    justify-content: center;
}

.card {
    width: 350px;
    height: 500px;
    transition: 0.2s;
    background: #307a26;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

}

.card__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    height: inherit;
}

.card__text {
    border-top: 1px solid rgb(14, 233, 43);
    width: inherit;
    display: flex;
    padding: 50px 0 20px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.card__title {
    padding: 0 20px;
    text-align: center;
}
.card__subtitle {
    padding: 0 20px;
    text-align: center;

}

.card__img {
    padding: 30px;
}

.creat__link {
    display: block;
    width: inherit;
    height: inherit;
    background: url(../img/plus.svg) no-repeat;
    background-size: 200px 200px;
    background-position: center;
}

.card--creat:hover,
.card:hover {
    box-shadow: 0px 4px 10px rgb(14, 233, 43);
    outline: #0887e1ae;
    outline-style: auto;
    outline-width: thick;
}

.creat-form {
    padding: 0 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.form__card {
    width: 40%;
    padding: 0 20px 20px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    background: #307a26;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.form__inputs label {
    width: 80%;
}

.form__input {
    background: rgb(6, 61, 17);
    border-radius: 10px;
    padding: 10px;
    height: 30px;
    color: #F8FAFC;
    font: inherit;
    border: none;
    width: 94%;
}

.form__card label {
    width: 80%;
}

.form__text {
    background: rgb(6, 61, 17);
    border-radius: 10px;
    padding: 10px;
    color: #F8FAFC;
    font: inherit;
    border: none;
    width: 94%;
}

.form__button {
    border: 1px solid rgb(14, 233, 43);
    background: rgba(4, 107, 25, 0.949);
    border-radius: 10px;
    color: rgb(14, 233, 43);
    padding: 10px;
    font: inherit;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition: 0.2s;
}

.form__button:hover {
    color: #F8FAFC;
    background:  rgb(14, 233, 43);
}

.main {
    padding: 0 5%;
}

.main__block {
    background: #307a26;
    border-radius: 20px;
    box-shadow: 0px 4px 10px #2d5b38;
    padding: 30px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__block {
    background: #307a26;
    border-radius: 20px;
    box-shadow: 0px 4px 10px #2d5b38;
    padding: 30px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__block:hover {
    color: #F8FAFC;
    background:  rgb(1, 149, 20);
    outline: #0887e1ae;
    outline-style: auto;
    outline-width: thick;
    box-shadow: 0px 4px 10px rgb(14, 233, 43);
}

.main__subtitle {
    text-align: center;
    margin-bottom: 50px;
}

.main__text {
    line-height: 30px;
    margin-bottom: 40px;
    white-space: pre-wrap;
    align-self: flex-start;
}

.main__link {
    display: block;
    border: 1px solid rgb(14, 233, 43);
    background: rgb(30, 59, 36);
    border-radius: 10px;
    color: rgb(14, 233, 43);
    padding: 15px 10px;
    font: inherit;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.main__link:hover {
    color: #F8FAFC;
    background:  rgb(14, 233, 43);
}


.main-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 60%;
    padding: 50px 30px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    background: #4d8c3a;
    border-radius: 20px;
    box-shadow: 0px 4px 10px #2d5b38;
}


.login label {
    width: 60%;
}


.reg__link {
    height: fit-content;
    text-align: center;
    padding: 15px 0px;
}

.error {
    font-size: 20px;
    color: #ff0000;
}

.login__link:hover {
    color: rgb(14, 233, 43);
}

.button__container {
    display: flex;
    justify-content: center;
    align-items: center;
}